<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>clinet</title>
    <!-- <script src="static/jquery-3.3.1.js"></script> -->
    <link href="static/cutestrap.css" rel="stylesheet" />
    <!-- <link href="static/bootstrap.css" rel="stylesheet" /> -->
    
    
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
  <script src="static/bootstrap.js"></script>
</html>
